.priceBlock{
    display: inline-flex;
    align-items: baseline;
    gap: 6px;
}

.price {
    color: #eb0606;
    font-weight: 700;
}

.oldPrice {
    text-decoration: line-through;
    opacity: .55;
    margin-left: 8px;
    font-size: .9em;
}